<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/jquery-min.js"></script>
    <script src="/js/create.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/create.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">New</a>
                </li>
                <!--Self: Below are extra navbar items to activate with new features-->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Right</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>
    <article class="container">
        <form id="myForm" method="POST" action="/create/new" enctype="multipart/form-data">
            <fieldset>
                <legend id="1">New Recipe</legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="rName">Name</label>
                            <input class="form-control" id="rName" type="text" name="name" placeholder="Enter reipe name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="rDiff">Difficulty</label>
                            <input type="range" class="form-control" value=0 min=0 max=5 id="rDiff" name="difficulty">
                            <label id="text">0</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <!--Text box for directions-->
                        <div class="form-group">
                            <label for="rDirections">Directions:</label>
                            <textarea class="form-control" name="directions" id="rDirections" placeholder="Enter recipe instructions here!"></textarea>
                        </div>
                    </div>
                </div>
                <!--Use Jquery to add a + sign that takes in a new ingredient-->
                <div class="row">
                    <button type="button" class="btn btn-outline-info col-md-2" id="newIng">New Ingredient</button>
                </div>
                <div class="newIngredient"></div>
                <div class="row">
                    <div class="form-group">
                        <input type="file" class="form-control" name="foodPhoto" />
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-lg btn-success col-md-2 form-control">Submit</button>

                    <input type="reset" class="btn btn-sm btn-secondary offset-1 col-md-1 form-control" value="reset">
                </div>
            </fieldset>
        </form>
    </article>
</body>

</html>