<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/jquery-min.js"></script>
    <script src="/js/create.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">New</a>
                </li>
                <!--Self: Below are extra navbar items to activate with new features-->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Right</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>
    <article class="container">
        <form method="POST" enctype="multipart/form-data" action="/create/new">
            <fieldset>
                <legend id="1">Ingredients</legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="rName">Name</label>
                            <input class="form-control" id="rName" type="text" name="name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                                <label for="rDiff">Difficulty</label>
                                <input type="range" class="form-control" value=0 min=0 max=5 id="rDiff" name="difficulty">
                                <label id="text">0</label>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </article>
</body>

</html>