<!--TODO: Search REST API and display data in cards-->
<!--
    STEPS:
    1- Query the database on change
    2- filter and display results in card format
-->
<article class="container">
    <h1>testing</h1>
        <input type="text" class="form-control" placeholder="Search Recpies" id="recpie-search">

</article>