<article class="container">
    <div class="row">
    {{#each data}}

    <div class="card col-md-3" style="margin: 20px; padding: 0px;">
        <img class="card-img-top" src="/images/{{filename}}" alt="Card image cap" height="60%" width="50%">
        <div class="card-body" style="height: 0px;">
            <h5 class="card-title">{{name}} <span style="font-weight: normal; float: right;">Difficulty: {{difficulty}} </span></h5>
            <a href="/viewFull/{{_id}}" class="btn btn-primary" >View Recipe</a>
        </div>
    </div>
    {{/each}}
    </div>

</article>